.works{
    background-color: crimson;
    overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;   
   position: relative;
}



.slider{
    width: 600px;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    left:0;
    border: 4px solid black;
   transition: all 1s ease-in;

}

.container{
    width: 100vw;
    height: 100%;
    display: flex;
    position: relative;
    border: 4px solid green;
}

.item{
    width: 700px;
    height:100% ;
    background-color: #fff;
    border-radius: 20px;
     display: flex;
    align-items: center;
    justify-content: space-between;

}


.work-left{
    flex: 4;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workleftContainer{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.imgleftContainer{
    width: 30px;
    height: 30px;
    background-color: rgb(218, 151, 129);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.imgleftContainer img{
  width: 20px;
}

.workleftContainer h2{
        font-size: 20px;
       
}

.workleftContainer p{
    font-size: 13px;
    overflow: hidden;
   
}

.workleftContainer span{
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
   
}


.work-right{
    flex: 8;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.work-right img{
    width: 320px;
    transform: rotate(-10deg);
}

.arrow{
    position: absolute;
    width: 50px;
    cursor: pointer;
}

.arrow-left{
    left: 100px;
    transform: rotateY(180deg);
}

.arrow-right{
   right:100px;
}